<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <title><%= @user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial "navigation" %>
    <div style="overflow-x:auto;">
      <table id="promises-table">
        <thead>
          <th style="width: 5%;">Status</th>
          <th style="width: 20%;">Title</th>
          <th style="width: 45%;">Body</th>
          <th style="width: 30%;">Completed ref.</th>
        </thead>
        <% for @promise in @promises %>
          <tr>
            <td><%= @promise.status %></td>
            <td><a href="/showPromise?promiseId=<%= @promise.id %>"><%= @promise.title %></a></td>
            <td><%= @promise.body %></td>
            <td><a href="<%= @promise.completed_reference %>">Article</a></td>
          </tr>
        <% end %>
      </table>
    <div>
  </body>
</html>
