<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/promise-status.js"></script>
    <script type="text/javascript" src="js/promise-actions.js"></script>

    <title><%= @user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial "navigation" %>
    <div class="content" style="overflow-x:auto;">
      <table id="promises-table">
        <thead>
          <th>Status</th>
          <th>Title</th>
          <th>Body</th>
          <th>Completed ref.</th>
          <th>Actions</th>
        </thead>
        <% for @promise in @promises %>
          <tr>
            <td><div class="promise-status"><%= @promise.status %></div></td>
            <td><a href="/showPromise?promiseId=<%= @promise.id %>"><%= @promise.title %></a></td>
            <td><%= @promise.body %></td>
            <td><a href="<%= @promise.completed_reference %>">Article</a></td>
            <td><div class="actions promise-<%= @promise.id %>" data-id="<%= @promise.id %>"><%= @promise.id %></div></td>
          </tr>
        <% end %>
      </table>
    <div>
  </body>
</html>
