<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/promise-status.js"></script>
    <script type="text/javascript" src="js/promise-actions.js"></script>
    <script type="text/javascript" src="js/list-promises.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>

    <title><%= @user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial "navigation" %>
    <div class="content" style="overflow-x:auto;">
      <table id="promises-table">
        <thead>
          <th class='header'>Status</th>
          <th class='header'>Title</th>
          <th class='header'>Body</th>
          <th class='header'>Reference</th>
          <th>Actions</th>
        </thead>
        <% for @promise in @promises %>
          <tr id='promise-row-<%= @promise.id %>'>
            <td>
              <div class="promise-status p-status" data-status="<%= @promise.status %>"
                data-confirmed="<%= @promise.confirmed %>">
                <span class='status-sort-item'></span>
              </div>
            </td>
            <td>
              <a href="/showPromise?promiseId=<%= @promise.id %>">
                <span class='title-sort-item p-title'><%= @promise.title %></span>
              </a>
            </td>
            <td>
              <span class='body-sort-item p-body'><%= @promise.body %></span>
            </td>
            <td>
              <a class="p-ref" href="<%= @promise.completed_reference %>">
                <span class='reference-sort-item'>Article</span>
              </a>
            </td>
            <td>
              <div class="actions promise-<%= @promise.id %>"
                  data-id="<%= @promise.id %>">
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <div>
  </body>
</html>
