<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/comments.js"></script>
    <script type="text/javascript" src="js/promise-status.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>

    <title><%= @user.full_name %> | <%= @promise.title %></title>
  </head>
  <body>
    <%= partial "navigation" %>
    <div class="comment-widget main-font">
      <div class="promise-status" data-status="<%= @promise.status %>"
        data-confirmed="<%= @promise.confirmed %>">
      </div>
      <div class="promise-title">
        <h1><%= @promise.title %>
          <% if @promise.status != Promise::NOT_STARTED %>
            | <a href="<%= @promise.completed_reference %>">Article</a>
          <% end %>
        </h1>
      </div>
      <br /> by <a href="show?id=<%= @user.id %>"><%= @user.full_name %></a>
      <div class="textarea">
        <%= @promise.body %>
      </div>
      <div id="promise-id" hidden><%= @promise.id %></div>
      <br/>

      <span id="comments-begin">Comments</span>
      <div id="comments-container">
      </div>
      <br/>
      <div id="add-comment-table">
        <div>
          <span>Add a comment</span>
        </div>
        <div>
          <textarea id="comment-text" class="transparent-input"
            rows="4" id="comment-text"></textarea>
        </div>
      </div>
      <br />

      <button class="transparent-submit" id="add-comment">Comment</button>
    </div>
  </body>
</html>
