<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/comments.js"></script>
    <script type="text/javascript" src="js/promise-status.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>

    <title><%= @user.full_name %> | <%= @promise.title %></title>
  </head>
  <body>
    <%= partial "navigation" %>
    <div class="content">
      <h1><%= @promise.title %>  
        <% if @promise.status != Promise::NOT_STARTED %>
          | <a href="<%= @promise.completed_reference %>">Article</a>
        <% end %>
      </h1>
      By <a href="show?id=<%= @user.id %>"><%= @user.full_name %></a>
      <div class="promise-status" data-status="<%= @promise.status %>" 
        data-confirmed="<%= @promise.confirmed %>">
      </div>
      <div class="textarea">
        <%= @promise.body %>
      </div>
      <div id="promise-id" hidden><%= @promise.id %></div>
  
      <br/>
      Comments:
      <div id="comments-container">
      </div>
      <br/>
      Add a comment:
      <textarea class="input" id="comment-text"></textarea>
      <button class="input" id="add-comment">Comment!</button>
    </div>
  </body>
</html>
