<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <title><%= @user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial :navigation %>
    <h1>Profile</h1>
    <section>
      <img src="http://www.projectiv.co/wp-content/uploads/2013/12/placeholder.png" alt="Profile picture" id="profile-pic"/>
      <p><%= @user.full_name %></p>
      <p>@<%= @user.username %></p>
      <p>location: <%= @user.location %></p>
    </section>
  </body>
</html>
