<!DOCTYPE html>
<html>
  <head>
   <link href="css/reset.css" rel="stylesheet">
    <title><%= @user.full_name %> | Tweeter</title>
  </head>
  <body>
    <nav class="main-nav">
      <a href="/show?id=<%= @user.id %>" id="asd">Home</a>
      <a href="/followers?id=<%= @user.id %>" id="asd">Followers</a>
      <a href="/following?id=<%= @user.id %>">Following</a>
      <a href="/upload">Test upload</a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>Profile</h1>
    <section>
      <img src="http://www.projectiv.co/wp-content/uploads/2013/12/placeholder.png" alt="Profile picture" id="profile-pic"/>
      <p><%= @user.full_name %></p>
      <p>@<%= @user.username %></p>
      <p>location: <%= @user.location %></p>
      <a href="/">asd</a>
    </section>
  </body>
</html>
