<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
    <script type="text/javascript" src="js/find-user.js"></script>

    <title><%= @user.full_name %> | Promises</title>
  </head>
  <body>
    <%= partial :navigation %>
    <div class="content">
      <div class="profile">

        <div class="left-container">
          <img id="profile-photo" src="http://www.projectiv.co/wp-content/uploads/2013/12/placeholder.png" alt="Profile picture" id="profile-pic"/>
          <div id="user-stats">
            <table id="user-stats-table">
              <tr>
                <td> <img src="images/completed.png" /> </td>
                <td> <img src="images/broken.png" /> </td>
                <td> <img src="images/in_progress.png" /> </td>
                <td> <img src="images/not_started.png" /> </td>
              </tr>
              <tr id="user-stats-values">
                <td> <%= @stats[3] || 0 %></td>
                <td> <%= @stats[2] || 0 %></td>
                <td> <%= @stats[1] || 0 %></td>
                <td> <%= @stats[0] || 0 %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="right-container">
          <div id="user-data">
            <p><%= @user.full_name %></p>
            <p>@<%= @user.username %></p>
            <p>location: <%= @user.location %></p>
            <a href="/listPromises?id=<%= @user.id %>">Promises</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
